@model User
@{
    
    ViewData["Title"] = "Register";
}

<form method="post" asp-action="Register" asp-controller="Login">
    <fieldset>
        <div id="registration-form">
            <div>
                <label asp-for="@Model.UserName">User Name</label>
                <div><input type="text" asp-for="@Model.UserName"></div>
            </div>
            <div>
                <label asp-for="@Model.Password">Password</label>
                <div><input type="password" asp-for="@Model.Password"></div>
            </div>
            <div>
                <label asp-for="@Model.Email">Email</label>
                <div><input type="text" asp-for="@Model.Email"></div>
            </div>
            <div>
                <label asp-for="@Model.FirstName">FirstName</label>
                <div><input type="text" asp-for="@Model.FirstName"></div>
            </div>
            <div>
                <label asp-for="@Model.LastName">LastName</label>
                <div><input type="text" asp-for="@Model.LastName"></div>
            </div>
            <div>
                <div><input type="submit"></div>
            </div>
        </div>
    </fieldset>
</form>

