@model StudentVM
@{
    ViewData["Title"] = "Manage Users";
}
<h1>Manage Users</h1>
<h5><a asp-action="add">Add a User</a></h5>
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Students.Count == 0)
        {
            <tr><td>There are no user accountsm</td></tr>
        }
        else
        {
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.UserName</td>
                    <td>
                        @foreach (string rolename in student.RoleNames!)
                        {<div>@rolename</div>}
                    </td>
                </tr>
                <tr>
                    <td>
                        <form asp-action="Delete" asp-controller="Student" asp-route-id="@student.Id" method="post">
                            <button type="submit" class="btn btn-warning">Delete User</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="AddToAdmin" asp-route-id="@student.Id">
                            <button type="submit" class="btn btn-primary"> Add To Admin</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="RemoveFromAdmin" asp-route-id="@student.Id">
                            <button type="submit" class="btn btn-primary"> Remove From Admin</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1 class="mb-2">Manage Roles</h1>
@if (Model.Roles!.Count() == 0)
{
    <form method="post" asp-action="CreateAdminRole">
        <button type="submit" class="btn btn-primary"> Create Admin Role</button>
    </form> }
else
{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr><th>Role</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles!)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                            <button type="submit" class="btn btn-primary"> Delete Role</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>}