@model Student
@inject SignInManager<Student> signInManager
@{
    string? studentName = signInManager.Context.User.Identity!.Name;
    var userManager = signInManager.UserManager;
    string password = "";
    string? confirmPassword = "";
    ViewData["Title"] = "User Profile";
}

<div>
    <table class="table profile-table">
        <caption>@studentName profile</caption>
        <thead>
            <tr>
                <th>
                    User:
                </th>
                <th>
                    @Model.Name
                </th>
            </tr>
            <tr>
                <td>
                    User Name
                </td>
                <td>
                    @Model.UserName
                </td>
            </tr>
            <tr>
                <td>
                    e-mail
                </td>
                <td>
                    @Model.Email
                </td>
            </tr>
            <tr>
                <td>
                    last assignment update
                </td>
                <td>
                    @Model.LastUpdate.ToString();
                </td>
            </tr>
    </table>
    <form class="container bg-warning" asp-action="EditProfileInfo" asp-controller="Account">
        <label asp-for="@p">enter password</label>
        <input type="password" asp-for="@password" />
        <label asp-for="@confirmPassword">Confirm Password</label>
        <input type="text" asp-for="@confirmPassword" />
    </form>
</div>