@model List<Assignment>
@using DevinSite.Util
@{
    ViewData["Title"] = "Home";
    List<Course> currentClasses = new();
    foreach (Assignment assignment in Model)
    {
        currentClasses.Add(assignment.GetCourse!);
    }
    string[] days = CalendarHelpers.GetShortDayStrings();
    DateTime[] calDates = CalendarHelpers.GetThisWeek();
}
<div class="vstack gap-3 section-b">
    <div class="hstack gap-2">
        <div class="assignment-wrap">
            <div class="btn-group container-sm mt-4" id="subject-buttons" data-bs-toggle="collapse">
                <a href="#" class="btn btn-primary btn" id="subject-1">Course 1</a>
                <a href="#" class="btn btn-primary btn" id="subject-2">Course 2</a>
                <a href="#" class="btn btn-primary btn" id="subject-3">Course 3</a>
                <a href="#" class="btn btn-primary btn" id="subject-4">Course 4</a>
            </div>
            <a class="btn btn-warning btn-rounded" asp-controller="Home" asp-action="RemoveAllAssignments" asp-route-assignments="@Model">Delete All</a>
            <div>
                <div id="calendar-wrap">

                    <div class="calendar__date">
                        <a asp-controller="Home" asp-action="Index" asp-route-searchString="@calDates[0]" class="calendar__number">Sun</a>
                        <a asp-controller="Home" asp-action="Index" asp-route-searchString="@calDates[1]" class="calendar__number">Mon</a>
                        <a asp-controller="Home" asp-action="Index" asp-route-searchString="@calDates[2]" class="calendar__number">Tue</a>
                        <a asp-controller="Home" asp-action="Index" asp-route-searchString="@calDates[3]" class="calendar__number">Wed</a>
                        <a asp-controller="Home" asp-action="Index" asp-route-searchString="@calDates[4]" class="calendar__number">Thu</a>
                        <a asp-controller="Home" asp-action="Index" asp-route-searchString="@calDates[5]" class="calendar__number">Fri</a>
                        <a asp-controller="Home" asp-action="Index" asp-route-searchString="@calDates[6]" class="calendar__number">Sat</a>
                    </div>
                </div>
            </div>
            <div id="search-title" class="d-flex">
                <form class="form-inline" asp-controller="Home" asp-action="Index">
                    Title:
                    <input type="search" name="searchString" />
                    <input type="submit" value="filter" class="btn btn-secondary rounded-pill mx-3" />
                </form>
                <form class="form-inline" asp-controller="Home" asp-action="Index">
                    <p>
                        Due Date:
                        <input type="date" name="searchString" />
                        <input type="submit" value="search" class="btn btn-info rounded-pill mx-3" />
                    </p>
                </form>
            </div>

            <div class="assignments rounded-4">
                @foreach (Assignment? assignment in Model)
                {
                    <div class="card my-2 assmt-card">
                        <div class="card-header d-flex justify-content-evenly">
                            <div class="me-0 ">Title: <span class="text-secondary">@assignment.Title</span></div>
                            @*<div>Class: <span class="text-secondary">@assignment.GetCourse!.Name </span></div>*@
                            <div>Due: <span class="text-secondary">@assignment.DueDate</span></div>&nbsp;
                        </div>
                        <details>
                            <summary>
                                <i class="text-dark p-2 calendar-icon"></i>instructions
                            </summary>
                            <div class="card-body">
                                @*<a asp-action="EditAssignment" asp-controller="Home" asp-route-id="@assignment.AssignmentId" class=" btn btn-sm btn-secondary">Edit</a>*@
                                <span class="text-secondary">
                                    @assignment.Details
                                </span>
                            </div>
                        </details>
                        <a asp-action="RemoveAssignment" asp-controller="Home" asp-route-id="@assignment.AssignmentId"><i class="bi bi-trash"></i></a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
